.c-alert {
  padding: $space--m $space--l;
  margin: $space--s $space--m;
  border-radius: 4px;
  text-align: center;
  &--success {
    color: $font-color--white;
    background-color: rgba($bg-color--active, 0.98);
  }
  &--danger {
    color: $font-color--white;
    background-color: rgba($bg-color--danger, 0.98);
  }
  &--notice {
    color: $font-color--white;
    background-color: rgba($bg-color--notice, 0.98);
  }
  &__inline {
    &--success {
      color: $font-color--active;
      background-color: rgba($bg-color--active, 0.1);
    }
    &--danger {
      color: $font-color--danger;
      background-color: rgba($bg-color--danger, 0.1);
    }
    &--notice {
      color: $font-color--notice;
      background-color: rgba($bg-color--notice, 0.1);
    }
  }
}
