.p-flash {
  position: fixed;
  top: $header-height + 10px;
  right: 10px;
  z-index: 5;
  &__text {
    display: inline-block;
    padding-right: $space--l;
  }
  &__close {
    position: absolute;
    right: 10px;
    top: 50%; //閉じるボタンの高さをボックスの上下中央に配置
    transform: translateY(-50%); //要素自身の高さの半分だけ上にずらす
  }
}
