.c-form {
  &__wrapper {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: $space--xxxl;
    padding-bottom: $space--xxxl;
    background: $bg-color--white;
    border-radius: 4px;
  }
  &--small {
    // PCサイトは幅40％
    width: 60%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    // タブレットサイトは幅60％
    @include mq(medium) {
      width: 80%;
    }
    // スマホサイトは横幅いっぱい
    @include mq() {
      width: 100%;
      padding-left: $space--xl;
      padding-right: $space--xl;
    }
  }

  &__label {
    color: $font-color--main;
    display: inline-block;
    font-weight: bold;
  }
  &__notes {
    color: $font-color--muted;
    font-size: $font-size--m;
    font-weight: normal;
    margin-left: $space--m;
  }
  &__info {
    color: $font-color--muted;
    font-size: $font-size--m;
    font-weight: normal;
    margin-bottom: $space--xl;
  }
  &__group {
    margin-bottom: $space--xxl;
    font-weight: normal;
  }
  &__button {
    text-align: center;
  }
}
