.c-list {
  &__ordered {
    counter-reset: item; //ol要素でリスト番号のカウンタをリセット
    list-style-type: none;
    padding-left: 1em;
    padding-bottom: $space--l;
    li {
      // text-indent: -1.7em;
      padding-left: 1.0em;
      text-align: justify;
      &:before {
        counter-increment: item; //カウンタを1ずつ増やす
        content: counter(item)'.'; //リストタイプ
        padding-right: .5em;
      }
    }
    & & {
      padding-top: $space--m;
      padding-bottom: $space--l;
      padding-left: 1em;
      li {
        text-indent: -1.7em;
        &:before {
          content: '('counter(item)')'; //リストタイプ
          padding-right: .5em;
        }
      }
    }
  }

}
