.c-list {
  &__ordered {
    counter-reset: item; //ol要素でリスト番号のカウンタをリセット
    list-style-type: none;
    padding-bottom: $space--l;
    li {
      padding-left: 1.0em;
      padding-right: 1.0em;
      text-align: justify;
      @include mq(medium){
        padding-left: 0.5em;
        padding-right: 0.5em;
      }
      &:before {
        counter-increment: item; //カウンタを1ずつ増やす
        padding-right: 0.5em;
      }
    }
    & & {
      padding-top: $space--m;
      padding-bottom: $space--l;
      padding-left: 2.0em;
      @include mq(medium){
        padding-left: 1.5em;
      }
      li {
        &:before {
          content: '('counter(item)')'; //リストタイプ
          padding-right: 0.5em;
        }
      }
    }
  }

}
