.c-list {
  &__ordered {
    counter-reset: item; //ol要素でリスト番号のカウンタをリセット
    list-style-type: none;
    padding-bottom: $space--l;
    &-item {
      padding-left: 1.0em;
      padding-right: 1.0em;
      text-align: justify;
      @include mq(medium){
        padding-left: 0.5em;
        padding-right: 0.5em;
      }
      &:before { //リスト番号
        counter-increment: item; //カウンタを1ずつ増やす
        content: counter(item)'.'; //リストタイプ
        padding-right: 1.0em;
      }
    }
    & & {
      padding-top: $space--m;
      padding-bottom: $space--l;
      padding-left: 2.0em;
      @include mq(medium){
        padding-left: 1.5em;
      }
    }
    &-item &-item {
      &:before { //子要素のリスト番号
        content: '('counter(item)')'; //リストタイプ
        padding-right: 0.5em;
      }
    }
  }

}
