.c-search {
  &__form {
    position: relative;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: $bg-color--border;
  }
  &__input {
    width: 100%;
    height: 48px;
    padding-left: 32px;
    padding-right: 8px;
  }
  &__clear-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: $bg-color--border;
  }
}
