.c-valid {
  &__error {
    margin-left: $space--m;
    color: $font-color--danger;
    font-weight: normal;
  }
  &--success {
    margin-left: $space--m;
    color: $font-color--accent;
    font-weight: normal;
  }
}
