.p-autofollow {
  margin-bottom: $space--l;
  &__guide {
    margin-bottom: $space--s;
  }
  &__status {
    display: inline-block;
    margin: $space--m 0 ;
  }
  &__icon {
    margin-right: $space--s;
  }
  &__total {
    color: $font-color--accent;
    margin-bottom: $space--m;
  }
  &__text {
    &--small {
      color: $font-color--muted;
      font-size: $font-size--m;
      margin-bottom: $space--l;
    }
  }
  &__cancel {
    font-size: $font-size--m;
  }
}
