.p-hero {
  height: 60vh;
  display: flex;
  align-items: center;
  background-color: #D6E7FF;
  padding-left: $space--l;
  padding-right: $space--l;
  box-sizing: border-box;
  @include mq(){
    height: 100vh;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: $site-width;
    margin-left: auto;
    margin-right: auto;
    @include mq(){
      flex-direction: column;
      max-width: 100%;
    }
  }
  &__contents {
    flex-basis: 60%;
    padding-left: $space--xxl;
    @include mq(){
      padding: 0;
    }
  }
  &__img-wrapper {
    flex-basis: 40%;
    @include mq(){
      max-width: 400px;
    }
  }
  &__title {
    font-size: $font-size--xxxl;
    color: $font-color--main;
    margin-bottom: $space--xxl;
    @include mq(medium){
      font-size: $font-size--xxl;
    }
    @include mq(){
      font-size: $font-size--xl;
    }
  }
  &__text {
    letter-spacing: 0.02em;
    margin-bottom: $space--l;
    color: $font-color--main;
  }
  &__action {
    display: flex;
    flex-direction: column;
    width: 300px;
    @include mq(){
      width: 100%;
    }
  }
  &__btn {
    margin: $space--l $space--s;
    padding-top: $space--l;
    padding-bottom: $space--l;
    width: 100%;
  }
  &__link {
    color: $font-color--main;
    text-align: center;
    &:hover {
      color: rgba($font-color--main, 0.8);
    }
    @include mq(){
      margin-bottom: $space--xxl;
    }
  }
}
