.p-nav-menu {
  color: $font-color--link;
  // スマホ用ドロワーメニュー
  @include mq(medium) {
    position: absolute;
    top: 0;
    right: -100%; //画面外の右端に配置
    background: rgba($bg-color--light, .95);
    width: 80vw;
    height: 100vh;
    padding-left: $space--l;
    padding-top: $header-height; //閉じるボタン分の高さ
    transition : all .5s ease-in-out;
    // ハンバーガーアイコン押下時
    &.is-active {
      transform: translateX(-100%); //右端にあったメニューが100％左に移動
      -webkit-transform: translateX(-100%);
      z-index: 2;
    }
  }
  &__sp-title { // スマホ用ドロワーメニュー用ロゴ
    display: none;
    @include mq(medium) {
      display: block;
      a {
        color: $font-color--main;
      }
      margin-bottom: $space--xl;
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center; //子要素を上下中央揃え
    // スマホ用ドロワーメニュー
    @include mq(medium) {
      display: block;
    }
  }
  &__list {
    display: flex;
    align-items: center;
    margin-right: $space--l;
    // スマホ用ドロワーメニュー
    @include mq(medium) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border: none;
      margin: 0;
    }
  }
  &__item {
    margin: 0 $space--l;
    &:first-child {
      margin-left: $space--s;
    }
    &:last-child {
      margin-right: $space--s;
    }
    // スマホ用ドロワーメニュー
    @include mq(medium){
      margin: $space--m $space--l;
      &:first-child {
        margin-left: $space--l;
      }
      &:last-child {
        margin-right: $space--l;
      }
    }
  }
  &__item-btn {
    margin: 0 $space--l;
  }
  &__link {
    color: $font-color--main;
    height: $header-height; //擬似要素の下線をヘッダー下と合わせる
    display: flex;
    align-items: center; //リンク文字を上下中央に揃える
    position: relative; //擬似要素でabsoluteを指定
    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto; //中央からスタート
      width: 0;
      transition: width .2s ease-in-out;  //widthを変化
    }
    &:hover {
      color: $font-color--hover;
      transform: scale(0.97, 1); //ホバー時に文字を縮める
    }
    &.is-active { //現在表示しているページのメニュー描画
      color: $font-color--active;
      &::before {
        width: 100%; //擬似要素の下線幅を0から100%に伸ばす
        border-bottom: 2px solid $bg-color--active;
      }
    }
    // スマホ用ドロワーメニュー
    @include mq(medium) {
      text-align: center;
      padding: 0;
      height: 40px;
      &::before {
        margin: 0; //左端からスタート
      }
    }
  }
  &__btn {
    font-size: $font-size--default;
    padding-top: $space--s;
    padding-bottom: $space--s;
    @include mq(medium) {
      font-size: $font-size--m;
    }
  }
  &__dropdown {
    height: $header-height;
    display: flex;
    align-items: center;
    padding-left: $space--m;
    padding-right: $space--m;
    transition : all .5s ease-in-out;
    &:hover {
      background: rgba($bg-color--light, .95);
    }
    @include mq(large) {
      padding-left: $space--s;
      padding-right: $space--s;
    }
    // スマホ用ドロワーメニュー
    @include mq(medium) {
      height: auto;
      position: relative;
      padding-left: 0;
      padding-right: 0;
    }
  }
  &__dropdown-head {
    display: flex;
    align-items: center;
    color: $font-color--main;
    // スマホ用ドロワーメニュー
    @include mq(medium) {
      position: absolute;
      top: 150px;
      margin: $space--m $space--m;
    }
  }
  &__avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    vertical-align: baseline;
    margin-right: $space--s;
  }
  &__username {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis; //幅を超えるユーザー名は...で省略
    white-space: nowrap;
    font-size: $font-size--m;
    margin-right: $space--s;
    max-width: 200px;
  }
  &__dropdown-icon {
    display: inline-block;
    // スマホ用ドロワーメニュー
    @include mq(medium) {
      display: none;
    }
  }
  &__dropdown-menu {
    position: absolute;
    top: $header-height;
    background: $bg-color--white;
    box-shadow: $shadow-color--s;
    min-width: 200px;
    @include mq(xlarge){
      right: 10px;
    }
    // スマホ用ドロワーメニュー
    @include mq(medium) {
      position: relative;
      top: 20px;
      left: 0;
      border: none;
      background: none;
      box-shadow: none;
    }
  }
  &__dropdown-list {
    // スマホ用ドロワーメニュー
    @include mq(medium) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__dropdown-item {
    margin: $space--l $space--xl;
    // スマホ用ドロワーメニュー
    @include mq(medium) {
      margin: $space--m $space--l;
    }
  }
  &__dropdown-link {
    color: $font-color--main;
    &:hover {
      color: $font-color--hover;
      transform: scale(0.97, 1); //ホバー時に文字を縮める
    }
    &.is-active { //現在表示しているページのメニュー描画
      color: $font-color--active;
    }
    // スマホ用ドロワーメニュー
    @include mq(medium) {
      height: 40px;
    }
  }
}
