.p-news {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 70%;
  max-width: $site-width;
  margin-left: auto;
  margin-right: auto;
  // スマホサイトは横幅いっぱい
  @include mq(medium) {
    width: 90%;
  }
  // スマホサイトは横幅いっぱい
  @include mq() {
    width: 100%;
    // box-sizing: border-box;
  }
  &__item {
    margin-bottom: $space--xxl;
  }
  &__title {
    margin-left: $space--m;
    margin-right: $space--m;
    letter-spacing: 0.12em;
    text-align: justify;
    word-wrap: break-word; //ボックス幅をはみ出す長さの英文を折り返す
  }
  &__info {
    display: flex;
    align-items: center;
    margin-bottom: $space--m;
  }
  &__date {
    font-size: $font-size--m;
    font-family: $font-family--theme;
    font-weight: bold;
    color: $font-color--muted;
    padding: $space--s $space--m;
    background: $bg-color--light;
    border-radius: 4px;
  }
  &__source {
    font-size: $font-size--s;
    color: $font-color--muted;
    margin-left: $space--l;
  }
}
