.p-trend {
  padding-bottom: $space--xxl;
  &__head {
    padding-top: $space--l;
    padding-bottom: $space--s;
    margin: 0 $space--l;
    display: flex;
    justify-content: space-between;
    @include mq(){
      margin: 0 $space--m;
    }
  }

  &__item {
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  //銘柄選択メニュー
  &__select {
    padding: $space--l;
    margin-bottom: $space--l;
    border: 1px solid $bg-color--border;
    border-radius: 4px;
    &-text {
      text-align: center;
      color: $font-color--muted;
      font-size: $font-size--m;
    }
    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @include mq() {
        padding-left: $space--l;
      }
    }
    &-item {
      flex-grow: 1;
      margin-right: 10px;
      margin-bottom: 10px;
      line-height: 1.0;
      width: calc((100% - (10px * 5)) / 6 ); //1行に6銘柄を均等配置
      &:nth-child(6n) {
        margin-right: 0; //6番目の要素は右に余白を空けない
      }
      @include mq(medium) {
        margin-right: 5px;
      }
      @include mq() {
        margin-right: 5px;
        width: calc((100% - (5px * 2)) / 3 ); //スマホ表示時は1行に2銘柄を均等配置
        &:nth-child(3n) {
          margin-right: 0; //2番目の要素は右に余白を空けない
        }
      }
    }
    &-footer {
      text-align: right;
      margin-right: $space--l;
    }
  }
  
  // ツイートランキングの順位表示
  &__order {
    text-align: center;
    background: $bg-color--dark;
    color: $font-color--white;
    display: inline-block;
    border-radius: 50%; //正円の背景を表示
    width: $font-size--l;
    height: $font-size--l;
    line-height: $font-size--l;
    font-size: $font-size--s;
    font-weight: bold;
    letter-spacing: 0; //左右中央に揃える
    &--gold {
      background: $bg-color--gold;
      color: $font-color--white;
    }
    &--silver {
      background: $bg-color--silver;
      color: $font-color--white;
    }
    &--bronze {
      background: $bg-color--bronze;
      color: $font-color--white;
    }
  }
  &__name {
    font-weight: bold;
    &--small {
      font-size: $font-size--s;
    }
  }
}
