.p-twitter-user {
  border:1px solid $bg-color--border;
  padding: $space--l;
  width: 90%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  @include mq() {
    width: 100%;
  }
  &__head {
    font-size: $font-size--m;
    margin-bottom: $space--m;
  }
  &__contents {
    display: inline-block;
    overflow: hidden;
  }
  &__body {
    margin-bottom: $space--m;
  }
  &__bottom {
    margin-bottom: $space--m;
  }
  &__avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    float: left;
  }
  &__account {
    margin-left: $space--l;
    text-align: left;
    float: left;
  }
  &__name {
    font-weight: bold;
  }
  &__screen {
    font-size: $font-size--m;
  }
  &__delete {
    text-align: right;
    margin-bottom: $space--xxxl;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    &-link {
      font-size: $font-size--m;
      color: $font-color--muted;
    }
    @include mq() {
      width: 100%;
    }
  }
  &__confirm {
    text-align: center;
    padding-top: $space--l;
    padding-bottom: $space--l;
    margin-top: $space--l;
    margin-bottom: $space--l;
    border: 1px solid $bg-color--danger;
    position: relative;
    &-text {
      margin-bottom: $space--l;
    }
    &-close {
      position: absolute;
      top: 10px;
      right: 10px;
      color: $bg-color--danger;
      @include mq() {
        top: 5px;
        right: 5px;
      }
    }
  }
}

