.p-twitter {
  &__login {
    text-align: center;
  }
  &__list {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    @include mq(medium) {
      width: 80%;
    }
    @include mq() {
      width: 100%;
    }
  }
}
