@charset "UTF-8";
/* フェードインアニメーション */
.js-fadeIn[data-v-408f38be] {
  animation: fadeIn-data-v-408f38be 1s;
}
@keyframes fadeIn-data-v-408f38be {
0% {
    opacity: 0;
    transform: translateY(100px);
}
100% {
    opacity: 1;
    transform: translateY(0px);
}
}

.js-accordion__target[data-v-504f7fc0] {
  transition: height 0.3s ease-in-out;
}
.js-accordion-enter-active[data-v-504f7fc0] {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: openAccordion-data-v-504f7fc0;
}
.js-accordion-leave-active[data-v-504f7fc0] {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: closeAccordion-data-v-504f7fc0;
}
@keyframes openAccordion-data-v-504f7fc0 {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
@keyframes closeAccordion-data-v-504f7fc0 {
0% {
    opacity: 1;
}
100% {
    opacity: 0;
}
}

@charset "UTF-8";
/* フラッシュメッセージ表示アニメーション */
.pulldown-enter-active[data-v-3448e3ab],
.pulldown-leave-active[data-v-3448e3ab] {
  transition: all 0.3s ease-in-out;
}

/* 表示時 */
.pulldown-enter[data-v-3448e3ab] {
  /* 上からスライドイン */
  opacity: 0;
  transform: translateY(-10px);
}

/* 非表示時 */
.pulldown-leave-to[data-v-3448e3ab] {
  /* 上にスライドアウト */
  opacity: 0;
  transform: translateY(-10px);
}

/* フラッシュメッセージ表示アニメーション */
.popup-enter-active[data-v-3448e3ab],
.popup-leave-active[data-v-3448e3ab] {
  transition: all 0.3s ease-in-out;
}

/* 表示時 */
.popup-enter[data-v-3448e3ab] {
  /* 下からスライドイン */
  opacity: 0;
  transform: translateY(10px);
}

/* 非表示時 */
.popup-leave-to[data-v-3448e3ab] {
  /* 下にスライドアウト */
  opacity: 0;
  transform: translateY(10px);
}

@charset "UTF-8";
/* フラッシュメッセージ表示アニメーション */
.slide-item-enter-active[data-v-4f60403c],
.slide-item-leave-active[data-v-4f60403c] {
  transition: all 0.5s ease-in-out;
}

/* 表示時 */
.slide-item-enter[data-v-4f60403c] {
  /* 右からスライドイン */
  opacity: 0;
  transform: translateX(20px);
}

/* 非表示時 */
.slide-item-leave-to[data-v-4f60403c] {
  /* 右にスライドアウト */
  opacity: 0;
  transform: translateX(20px);
}

@charset "UTF-8";
.loading-enter-active {
  transition: all 0.25s;
}
.loading-leave-active {
  transition: all 0.5s ease 0.5s;
  /* ルータービューが終わった後に */
}

@charset "UTF-8";
/* フラッシュメッセージ表示アニメーション */
.slide-item-enter-active[data-v-3f20c7be],
.slide-item-leave-active[data-v-3f20c7be] {
  transition: all 0.5s ease-in-out;
}

/* 表示時 */
.slide-item-enter[data-v-3f20c7be] {
  /* 右からスライドイン */
  opacity: 0;
  transform: translateX(20px);
}

/* 非表示時 */
.slide-item-leave-to[data-v-3f20c7be] {
  /* 右にスライドアウト */
  opacity: 0;
  transform: translateX(20px);
}

@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

html, body {
  width: 100vw;
  box-sizing: border-box;
  font-family: "Nunito Sans", "Noto Sans JP", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", Meiryo, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.1em;
  text-size-adjust: 100%;
  color: #3B4043;
  background: #FFFFFF; }

p, a, h1, h2, h3, h4, h5, h6, li {
  -webkit-font-smoothing: antialiased; }

a {
  color: #1D6DD8;
  text-decoration: none;
  transition: .3s; }
  a:hover {
    color: #5AB4BD;
    transition: .3s; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom; }

ul {
  list-style-type: none; }

input, button, textarea, select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "Nunito Sans", "Noto Sans JP", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", Meiryo, sans-serif;
  font-size: 100%; }

html, body {
  height: 100%; }

#app {
  width: 100%;
  background: #F8FBFE;
  position: relative;
  height: auto !important;
  /*IE6対策*/
  height: 100%;
  /*IE6対策*/
  min-height: 100%; }

#header {
  width: 100%;
  box-sizing: border-box;
  height: 60px;
  background: #FFFFFF;
  margin: 0;
  padding: 0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  z-index: 2;
  position: fixed; }

#main {
  width: 100%;
  min-height: 100%;
  background: #F8FBFE;
  padding-top: 60px; }

#footer {
  background: #F8FBFE;
  color: #3B4043;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  width: 100%;
  height: 70px; }
  @media screen and (max-width: 599px) {
    #footer {
      font-size: 12px;
      min-height: 70px; } }

.c-accordion {
  background-color: #FFFFFF; }
  .c-accordion__title {
    position: relative;
    transition: all .3s ease-in; }
    .c-accordion__title::before {
      content: '\f107';
      font-family: FontAwesome;
      font-size: 24px;
      color: #707F89;
      padding: 0;
      margin-left: 5px;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%); }
    .c-accordion__title.is-opened {
      background: #F0F4F7; }
      .c-accordion__title.is-opened::before {
        content: '\f106';
        font-family: FontAwesome; }
    .c-accordion__title.is-hovered {
      background: #F0F4F7; }

.c-alert, .c-alert--success, .c-alert--danger, .c-alert--notice, .c-alert__inline--success, .c-alert__inline--danger, .c-alert__inline--notice {
  padding: 10px 15px;
  margin: 5px 10px;
  border-radius: 4px;
  text-align: center; }

.c-alert--success {
  color: #FCFCFC;
  background-color: rgba(90, 180, 189, 0.98); }

.c-alert--danger {
  color: #FCFCFC;
  background-color: rgba(220, 91, 52, 0.98); }

.c-alert--notice {
  color: #FCFCFC;
  background-color: rgba(153, 153, 153, 0.98); }

.c-alert__inline--success {
  color: #247A83;
  background-color: rgba(90, 180, 189, 0.1); }

.c-alert__inline--danger {
  color: #DC5B34;
  background-color: rgba(220, 91, 52, 0.1); }

.c-alert__inline--notice {
  color: #999999;
  background-color: rgba(153, 153, 153, 0.1); }

.c-btn, .c-btn__accent, .c-btn__main, .c-btn__main--outline, .c-btn__twitter, .c-btn__twitter--outline, .c-btn__danger, .c-btn__danger--outline, .c-btn__muted--outline, .c-btn__white {
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  transition: all .3s;
  padding: 10px 15px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  outline: none;
  border-radius: 100vh;
  font-weight: bold;
  letter-spacing: 0.02em; }
  .c-btn:hover, .c-btn__accent:hover, .c-btn__main:hover, .c-btn__main--outline:hover, .c-btn__twitter:hover, .c-btn__twitter--outline:hover, .c-btn__danger:hover, .c-btn__danger--outline:hover, .c-btn__muted--outline:hover, .c-btn__white:hover {
    transform: scale(0.97); }
  @media screen and (max-width: 599px) {
    .c-btn, .c-btn__accent, .c-btn__main, .c-btn__main--outline, .c-btn__twitter, .c-btn__twitter--outline, .c-btn__danger, .c-btn__danger--outline, .c-btn__muted--outline, .c-btn__white {
      width: 80%; } }

.c-btn__accent {
  background-color: #5AB4BD;
  color: #FCFCFC; }
  .c-btn__accent:hover {
    color: #FCFCFC; }

.c-btn__main {
  background-color: #19465B;
  color: #FCFCFC; }
  .c-btn__main:hover {
    color: #FCFCFC; }

.c-btn__main--outline {
  border: 2px solid #D3D9E0;
  color: #19465B; }
  .c-btn__main--outline:hover {
    color: #19465B; }

.c-btn__twitter {
  background-color: #1C91DA;
  color: #FCFCFC; }
  .c-btn__twitter:hover {
    color: #FCFCFC; }

.c-btn__twitter--outline {
  border: 2px solid #1C91DA;
  color: #1C91DA; }
  .c-btn__twitter--outline:hover {
    color: #1C91DA; }

.c-btn__danger {
  background-color: #DC5B34;
  color: #FCFCFC; }
  .c-btn__danger:hover {
    color: #FCFCFC; }

.c-btn__danger--outline {
  border: 2px solid #DC5B34;
  color: #DC5B34; }
  .c-btn__danger--outline:hover {
    color: #DC5B34; }

.c-btn__muted--outline {
  border: 1px solid #D3D9E0;
  color: #707F89;
  font-weight: normal;
  font-size: 14px;
  padding: 5px 10px; }
  .c-btn__muted--outline:hover {
    color: #707F89; }

.c-btn__white {
  border: none;
  background: #FFFFFF;
  color: #247A83;
  font-weight: bold;
  font-size: 16px;
  padding: 5px 10px; }
  .c-btn__white:hover {
    color: #247A83;
    background: #FFFFFF; }

.c-checkbox__icon + label {
  display: block;
  cursor: pointer;
  padding: 5px 10px;
  color: #707F89; }
  .c-checkbox__icon + label::before {
    content: '\f111';
    font-family: FontAwesome;
    color: #D3D9E0;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    margin: -2px 0 0 0;
    box-sizing: border-box; }
  .c-checkbox__icon + label:hover {
    color: #3B4043; }
    .c-checkbox__icon + label:hover::before {
      color: #3B4043; }

.c-checkbox__icon:checked + label {
  color: #5AB4BD;
  background-color: #F0F4F7;
  border-radius: 100vh; }
  .c-checkbox__icon:checked + label::before {
    content: '\f058';
    font-family: FontAwesome;
    color: #5AB4BD; }

.c-checkbox__label {
  padding: 12px 8px;
  display: flex;
  align-items: center;
  cursor: pointer; }

.c-checkbox__input {
  margin: 0;
  width: 0;
  padding: 0;
  opacity: 0; }

.c-checkbox__input:checked + .c-checkbox__dummyInput {
  background: #5AB4BD; }

.c-checkbox__input:checked + .c-checkbox__dummyInput::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 3px;
  border-radius: 2px;
  transform: translate(-6px, 5px) rotateZ(-135deg);
  transform-origin: 2px 2px;
  background: #FFFFFF; }

.c-checkbox__input:checked + .c-checkbox__dummyInput::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 76%;
  height: 3px;
  border-radius: 2px;
  transform: translate(-6px, 5px) rotateZ(-45deg);
  transform-origin: 2px 2px;
  background: #FFFFFF; }

.c-checkbox__dummyInput {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 24px;
  height: 24px;
  border: solid 2px transparent;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px; }

.c-checkbox__text {
  margin-left: 12px;
  display: block; }

.c-container, .c-container--fluid, .c-container--bg, .c-container--limited {
  width: 100%; }

.c-container--fluid {
  max-width: 100%; }

.c-container--bg {
  background: #F8FBFE;
  max-width: 100%; }

.c-container--limited {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (max-width: 880px) {
    .c-container--limited {
      width: 100%; } }

.c-container__inner {
  max-width: 980px;
  background: #FFFFFF;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px; }

.c-container__title {
  text-align: center;
  color: #19465B;
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 40px; }
  @media screen and (max-width: 599px) {
    .c-container__title {
      font-size: 20px;
      margin-top: 20px;
      margin-bottom: 20px; } }

/* フェードインアニメーション */
.c-fade--in {
  animation: fadeIn 1s; }

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

.c-form__wrapper {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #FFFFFF;
  border-radius: 4px; }

.c-form--large {
  width: 80%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box; }
  @media screen and (max-width: 599px) {
    .c-form--large {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px; } }

.c-form--small {
  width: 60%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box; }
  @media screen and (max-width: 880px) {
    .c-form--small {
      width: 80%; } }
  @media screen and (max-width: 599px) {
    .c-form--small {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px; } }

.c-form__text {
  text-align: left;
  line-height: 1.8;
  margin-bottom: 30px; }

.c-form__label {
  color: #19465B;
  display: inline-block;
  font-weight: bold; }
  .c-form__label--required {
    background: #DC5B34;
    color: #FCFCFC;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    padding: 2px 5px;
    margin-left: 10px; }

.c-form__notes {
  color: #707F89;
  font-size: 14px;
  font-weight: normal;
  margin-left: 10px; }

.c-form__info {
  color: #707F89;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 20px;
  text-align: center; }

.c-form__group {
  margin-bottom: 30px;
  font-weight: normal; }

.c-form__button {
  text-align: center; }

.c-form__link {
  margin-top: 30px;
  text-align: center;
  color: #707F89;
  font-size: 14px; }

.c-form__confirm-text {
  color: #3B4043;
  padding: 15px;
  margin: 15px 0;
  background: #F0F4F7;
  border-radius: 4px; }

.c-input {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #3B4043;
  border: 1px solid #D3D9E0;
  border-radius: 4px;
  background: #F0F4F7;
  font-weight: normal;
  transition: all .3s ease-in;
  box-sizing: border-box;
  outline: none; }
  .c-input:focus {
    border: 2px solid #D3D9E0;
    background: #FFFFFF; }
  .c-input.is-invalid {
    border: 2px solid #DC5B34;
    color: #3B4043; }
  .c-input--large {
    padding: 5px 20px;
    height: 48px;
    width: 100%; }
  .c-input__textarea {
    height: 200px; }

::placeholder {
  color: #707F89; }

.c-loader {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background: rgba(255, 255, 255, 0.5);
  position: fixed; }

.c-loader__icon,
.c-loader__icon:before,
.c-loader__icon:after {
  background: #5AB4BD;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em; }

.c-loader__icon {
  color: #5AB4BD;
  text-indent: -9999em;
  margin: 180px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

.c-loader__icon:before,
.c-loader__icon:after {
  position: absolute;
  top: 0;
  content: ''; }

.c-loader__icon:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.c-loader__icon:after {
  left: 1.5em; }

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em; }
  40% {
    box-shadow: 0 -2em;
    height: 5em; } }

@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em; }
  40% {
    box-shadow: 0 -2em;
    height: 5em; } }

.c-pagination {
  text-align: center; }
  .c-pagination__list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px; }
  .c-pagination__item {
    background: rgba(240, 244, 247, 0.8);
    text-align: center;
    padding: 10px 10px; }
    .c-pagination__item a {
      color: #19465B; }
      .c-pagination__item a:hover {
        background: #f0f4f7;
        color: #5AB4BD; }
    .c-pagination__item + .c-pagination__item {
      border-left: none; }
    .c-pagination__item.is-active {
      background: #5AB4BD; }
      .c-pagination__item.is-active a {
        color: #FCFCFC; }
  .c-pagination__info {
    font-size: 14px;
    color: #707F89; }

.c-section {
  max-width: 980px;
  background: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px; }
  @media screen and (max-width: 880px) {
    .c-section {
      margin-top: 0; } }
  @media screen and (max-width: 599px) {
    .c-section {
      margin-top: 0;
      padding: 15px; } }
  .c-section--bg {
    background: #F8FBFE; }
  .c-section__title {
    text-align: center;
    color: #19465B;
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 40px;
    position: relative; }
    .c-section__title::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -10px;
      margin: 0 auto;
      width: 20px;
      border-bottom: 1px solid #D3D9E0; }
    @media screen and (max-width: 599px) {
      .c-section__title {
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 20px; } }
  .c-section__contents {
    margin: 15px; }
  .c-section__text {
    text-align: center;
    line-height: 1.8;
    margin-bottom: 30px; }
  .c-section__subtitle--left {
    text-align: left;
    margin-bottom: 10px; }
  .c-section__text--left {
    text-align: left;
    line-height: 1.8;
    margin-bottom: 15px; }
  .c-section__list {
    margin-left: 40px;
    margin-bottom: 20px; }

.c-tab {
  margin-top: 50px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  width: 700px;
  margin: 0 auto; }
  @media screen and (max-width: 880px) {
    .c-tab {
      width: 100%; } }
  .c-tab__list {
    display: flex; }
  .c-tab__item {
    height: 50px;
    border-bottom: 2px solid #5AB4BD;
    background-color: #F0F4F7;
    text-align: center;
    color: #3B4043;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: all 0.2s ease; }
    .c-tab__item--two {
      width: calc(100%/2); }
    .c-tab__item--three {
      width: calc(100%/3); }
    @media screen and (max-width: 599px) {
      .c-tab__item {
        font-size: 14px; } }
    .c-tab__item:hover {
      background-color: rgba(240, 244, 247, 0.3); }
    .c-tab__item--active {
      background-color: #5AB4BD;
      color: #FCFCFC; }
      .c-tab__item--active:hover {
        background-color: rgba(90, 180, 189, 0.8); }

.c-table {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (max-width: 599px) {
    .c-table {
      width: 100%; } }
  .c-table__thead tr {
    border-bottom: 1px solid #D3D9E0; }
  .c-table__thead th {
    padding: 10px 5px;
    vertical-align: middle;
    font-size: 14px;
    text-align: left; }
    @media screen and (max-width: 599px) {
      .c-table__thead th {
        padding: 10px 2px;
        font-size: 0.6em; } }
  .c-table__tbody tr {
    border-bottom: 1px solid #D3D9E0; }
  .c-table__tbody td {
    padding: 10px 5px; }
    @media screen and (max-width: 599px) {
      .c-table__tbody td {
        font-size: 0.8em; } }

.c-valid__error {
  margin-left: 10px;
  color: #DC5B34;
  font-weight: normal; }

.c-valid__success {
  margin-left: 10px;
  color: #247A83;
  font-weight: normal; }

.p-about {
  background: #004BB1;
  padding: 75px 20px;
  text-align: center; }
  .p-about__logo-img {
    margin-bottom: 15px; }
  .p-about__title {
    color: #FCFCFC;
    font-size: 24px;
    margin-bottom: 20px; }
  .p-about__text {
    color: #FCFCFC;
    font-size: 16px; }

.p-action {
  background: #5AB4BD;
  padding: 40px 20px;
  text-align: center;
  color: #FCFCFC; }
  .p-action__heading {
    font-size: 20px;
    margin-bottom: 15px; }
  .p-action__logo {
    display: flex;
    justify-content: center;
    margin-bottom: 15px; }
    .p-action__logo-img {
      margin-right: 10px;
      align-self: center; }
    .p-action__logo-text {
      font-size: 24px;
      font-family: "Nunito Sans", sans-serif; }
  .p-action__copy {
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: bold; }
  .p-action__btn {
    padding: 15px; }

.p-autofollow {
  margin-bottom: 15px; }
  .p-autofollow__guide {
    margin-bottom: 5px; }
  .p-autofollow__status {
    display: inline-block;
    margin: 10px 0; }
  .p-autofollow__icon {
    margin-right: 5px; }
  .p-autofollow__total {
    color: #247A83;
    margin-bottom: 10px; }
  .p-autofollow__text.num {
    font-weight: bold; }
  .p-autofollow__text--small {
    color: #707F89;
    font-size: 14px;
    margin-bottom: 15px; }
  .p-autofollow__cancel {
    font-size: 14px; }

.p-faq {
  background: #F8FBFE;
  padding: 75px 20px;
  text-align: center; }
  .p-faq__title {
    color: #19465B;
    font-size: 24px;
    margin-bottom: 30px; }
  .p-faq__contents {
    width: 980px;
    margin: 0 auto; }
    @media screen and (max-width: 880px) {
      .p-faq__contents {
        width: 100%;
        padding: 15px;
        box-sizing: border-box; } }
    @media screen and (max-width: 599px) {
      .p-faq__contents {
        padding: 15px 0; } }
  .p-faq__item {
    margin: 0 15px;
    display: flex;
    flex-direction: column; }
    .p-faq__item .is-show {
      border-bottom: 1px solid #D3D9E0; }
    @media screen and (max-width: 599px) {
      .p-faq__item {
        margin: 0; } }
  .p-faq__question {
    color: #19465B;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    position: relative;
    padding: 20px 60px; }
    @media screen and (max-width: 599px) {
      .p-faq__question {
        padding: 20px 40px;
        font-size: 16px; } }
    .p-faq__question a:hover {
      background-color: #EFEFEF; }
    .p-faq__question::before {
      content: 'Q';
      font-size: 32px;
      font-weight: bold;
      color: #99CAE5;
      display: block;
      position: absolute;
      top: 8px;
      left: 15px; }
      @media screen and (max-width: 599px) {
        .p-faq__question::before {
          font-size: 24px;
          top: 10px;
          left: 10px; } }
  .p-faq__answer {
    text-align: left;
    position: relative;
    padding: 30px 60px 40px 60px; }
    @media screen and (max-width: 599px) {
      .p-faq__answer {
        padding: 20px 20px 20px 40px;
        font-size: 16px; } }
    .p-faq__answer::before {
      content: 'A';
      font-size: 32px;
      font-weight: bold;
      color: #5AB4BD;
      display: block;
      position: absolute;
      top: 25px;
      left: 17px; }
      @media screen and (max-width: 599px) {
        .p-faq__answer::before {
          font-size: 24px;
          top: 10px;
          left: 10px; } }

.p-flash {
  position: fixed;
  top: 70px;
  right: 10px;
  z-index: 5; }
  .p-flash__text {
    display: inline-block;
    padding-right: 15px; }
  .p-flash__close {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%); }

.p-footer__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px; }

.p-footer__item {
  margin: 0 15px; }
  .p-footer__item:first-child {
    margin-left: 5px; }
  .p-footer__item:last-child {
    margin-right: 5px; }

.p-footer__link {
  color: #707F89;
  font-size: 12px; }
  .p-footer__link:hover {
    color: #5AB4BD;
    transform: scale(0.97, 1); }

.p-footer__copyright {
  color: #707F89;
  font-size: 12px; }

.p-footer__pagetop {
  position: absolute;
  z-index: 3;
  top: -22px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%); }

.p-hero {
  height: 60vh;
  display: flex;
  align-items: center;
  background-color: #D6E7FF;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box; }
  @media screen and (max-width: 599px) {
    .p-hero {
      height: 100vh; } }
  .p-hero__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (max-width: 599px) {
      .p-hero__wrapper {
        flex-direction: column;
        max-width: 100%; } }
  .p-hero__contents {
    flex-basis: 60%;
    padding-left: 30px; }
    @media screen and (max-width: 599px) {
      .p-hero__contents {
        padding: 0; } }
  .p-hero__img-wrapper {
    flex-basis: 40%; }
    @media screen and (max-width: 599px) {
      .p-hero__img-wrapper {
        max-width: 400px; } }
  .p-hero__title {
    font-size: 40px;
    color: #19465B;
    margin-bottom: 30px; }
    @media screen and (max-width: 880px) {
      .p-hero__title {
        font-size: 32px; } }
    @media screen and (max-width: 599px) {
      .p-hero__title {
        font-size: 24px; } }
  .p-hero__text {
    letter-spacing: 0.02em;
    margin-bottom: 15px;
    color: #19465B; }
  .p-hero__action {
    display: flex;
    flex-direction: column;
    width: 300px; }
    @media screen and (max-width: 599px) {
      .p-hero__action {
        width: 100%; } }
  .p-hero__btn {
    margin: 15px 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%; }
  .p-hero__link {
    color: #19465B;
    text-align: center; }
    .p-hero__link:hover {
      color: rgba(25, 70, 91, 0.8); }
    @media screen and (max-width: 599px) {
      .p-hero__link {
        margin-bottom: 30px; } }

.p-nav-menu {
  color: #1D6DD8; }
  @media screen and (max-width: 880px) {
    .p-nav-menu {
      position: absolute;
      top: 0;
      right: -100%;
      background: rgba(240, 244, 247, 0.95);
      width: 90vw;
      height: 100vh;
      box-sizing: border-box;
      padding-left: 15px;
      padding-top: 60px;
      transition: all .5s ease-in-out; }
      .p-nav-menu.is-active {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        z-index: 2; } }
  .p-nav-menu__sp-title {
    display: none; }
    @media screen and (max-width: 880px) {
      .p-nav-menu__sp-title {
        display: block;
        margin-top: 15px;
        margin-bottom: 20px; }
        .p-nav-menu__sp-title a {
          color: #19465B; } }
  .p-nav-menu__inner {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media screen and (max-width: 880px) {
      .p-nav-menu__inner {
        display: block; } }
  .p-nav-menu__list {
    display: flex;
    align-items: center;
    margin-right: 15px; }
    @media screen and (max-width: 880px) {
      .p-nav-menu__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border: none;
        margin: 0; } }
  .p-nav-menu__item {
    margin: 0 15px; }
    .p-nav-menu__item:first-child {
      margin-left: 5px; }
    .p-nav-menu__item:last-child {
      margin-right: 5px; }
    @media screen and (max-width: 880px) {
      .p-nav-menu__item {
        margin: 10px 10px; }
        .p-nav-menu__item:first-child {
          margin-left: 10px; }
        .p-nav-menu__item:last-child {
          margin-right: 10px; } }
  .p-nav-menu__item-btn {
    margin: 0 5px; }
    @media screen and (max-width: 880px) {
      .p-nav-menu__item-btn {
        margin: 10px 0;
        width: 100%; } }
  .p-nav-menu__link {
    color: #19465B;
    height: 60px;
    display: flex;
    align-items: center;
    position: relative; }
    .p-nav-menu__link::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
      width: 0;
      transition: width .2s ease-in-out; }
    .p-nav-menu__link:hover {
      color: #5AB4BD;
      transform: scale(0.97, 1); }
    .p-nav-menu__link.is-active {
      color: #247A83; }
      .p-nav-menu__link.is-active::before {
        width: 100%;
        border-bottom: 2px solid #5AB4BD; }
    @media screen and (max-width: 880px) {
      .p-nav-menu__link {
        text-align: center;
        padding: 0;
        height: 40px; }
        .p-nav-menu__link::before {
          margin: 0; } }
  .p-nav-menu__btn {
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px; }
    @media screen and (max-width: 880px) {
      .p-nav-menu__btn {
        font-size: 14px;
        padding-top: 15px;
        padding-bottom: 15px;
        display: block;
        width: 90%;
        max-width: 180px; } }
  .p-nav-menu__dropdown {
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    transition: all .5s ease-in-out; }
    .p-nav-menu__dropdown:hover {
      background: rgba(240, 244, 247, 0.95); }
    @media screen and (max-width: 1024px) {
      .p-nav-menu__dropdown {
        padding-left: 5px;
        padding-right: 5px; } }
    @media screen and (max-width: 880px) {
      .p-nav-menu__dropdown {
        height: auto;
        position: relative;
        padding-left: 0;
        padding-right: 0; } }
  .p-nav-menu__dropdown-head {
    display: flex;
    align-items: center;
    color: #19465B; }
    @media screen and (max-width: 880px) {
      .p-nav-menu__dropdown-head {
        position: absolute;
        top: 150px;
        margin: 10px 10px; } }
  .p-nav-menu__avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    vertical-align: baseline;
    margin-right: 5px; }
  .p-nav-menu__username {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    margin-right: 5px;
    max-width: 200px; }
  .p-nav-menu__dropdown-icon {
    display: inline-block; }
    @media screen and (max-width: 880px) {
      .p-nav-menu__dropdown-icon {
        display: none; } }
  .p-nav-menu__dropdown-menu {
    position: absolute;
    top: 60px;
    background: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    min-width: 200px; }
    @media screen and (max-width: 1280px) {
      .p-nav-menu__dropdown-menu {
        right: 10px; } }
    @media screen and (max-width: 880px) {
      .p-nav-menu__dropdown-menu {
        position: relative;
        top: 20px;
        left: 0;
        border: none;
        background: none;
        box-shadow: none; } }
  @media screen and (max-width: 880px) {
    .p-nav-menu__dropdown-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start; } }
  .p-nav-menu__dropdown-item {
    margin: 15px 20px; }
    @media screen and (max-width: 880px) {
      .p-nav-menu__dropdown-item {
        margin: 10px 15px; } }
  .p-nav-menu__dropdown-link {
    color: #19465B; }
    .p-nav-menu__dropdown-link:hover {
      color: #5AB4BD;
      transform: scale(0.97, 1); }
    .p-nav-menu__dropdown-link.is-active {
      color: #247A83; }
    @media screen and (max-width: 880px) {
      .p-nav-menu__dropdown-link {
        height: 40px; } }

.p-navbar {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box; }
  .p-navbar__title {
    margin-left: 10px; }
    .p-navbar__title a {
      color: #19465B; }
      .p-navbar__title a:hover {
        transform: scale(0.97); }
    .p-navbar__title-logo {
      margin-right: 5px;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      top: 2px; }
    .p-navbar__title-text {
      display: inline-block;
      vertical-align: middle;
      font-family: "Nunito Sans", sans-serif;
      font-size: 20px; }
  .p-navbar__toggle {
    display: none;
    transition: all .4s;
    box-sizing: border-box;
    position: relative;
    top: 0px;
    right: 0px;
    width: 60px;
    height: 60px;
    text-align: center;
    z-index: 5; }
    @media screen and (max-width: 880px) {
      .p-navbar__toggle {
        display: block; } }
    .p-navbar__toggle--line {
      display: inline-block;
      transition: all .4s;
      box-sizing: border-box;
      position: absolute;
      transform: translateX(-50%);
      width: 70%;
      height: 3px;
      background-color: #19465B;
      border-radius: 3px; }
      .p-navbar__toggle--line:nth-of-type(1) {
        top: 10px; }
      .p-navbar__toggle--line:nth-of-type(2) {
        top: 22px; }
      .p-navbar__toggle--line:nth-of-type(3) {
        top: 34px; }
    .p-navbar__toggle--text {
      transition: all .4s;
      font-size: 12px;
      color: #19465B;
      position: absolute;
      transform: translateX(-50%);
      bottom: 0; }
      .p-navbar__toggle--text::after {
        content: 'MENU'; }
    .p-navbar__toggle.is-active span:nth-of-type(1) {
      transform: translate(-50%, 12px) rotate(-45deg);
      -webkit-transform: translate(-50%, 12px) rotate(-45deg); }
    .p-navbar__toggle.is-active span:nth-of-type(2) {
      opacity: 0; }
    .p-navbar__toggle.is-active span:nth-of-type(3) {
      transform: translate(-50%, -12px) rotate(45deg);
      -webkit-transform: translate(-50%, -12px) rotate(45deg); }
    .p-navbar__toggle.is-active span:nth-of-type(4)::after {
      content: 'CLOSE'; }

.p-news {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 60%;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (max-width: 599px) {
    .p-news {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px; } }
  .p-news__item {
    margin-bottom: 15px; }
  .p-news__title {
    margin-bottom: 10px; }
    .p-news__title a {
      text-decoration: none; }
      .p-news__title a:hover {
        text-decoration: underline; }
  .p-news__info {
    display: flex;
    align-items: center;
    margin-bottom: 10px; }
  .p-news__date {
    font-size: 14px;
    padding: 5px 10px;
    background: #F0F4F7;
    border-radius: 4px; }
  .p-news__source {
    font-size: 12px;
    color: #707F89;
    margin-left: 15px; }

.p-readmore__wrapper {
  text-align: center;
  margin: 15px auto;
  width: 100%; }
  @media screen and (max-width: 880px) {
    .p-readmore__wrapper {
      width: 100%; } }

.p-readmore__link {
  cursor: pointer;
  transition: all .3s;
  padding: 10px 15px;
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  letter-spacing: 0.02em;
  border: 1px solid #D3D9E0;
  color: #19465B;
  background: #FFFFFF; }
  .p-readmore__link:hover {
    color: #FCFCFC;
    border: none;
    background: #5AB4BD;
    transform: scale(0.97); }
  .p-readmore__link::after {
    content: '\f105';
    font-family: FontAwesome;
    color: #D3D9E0;
    font-size: 18px;
    padding: 0;
    margin-left: 5px;
    position: relative;
    top: 1px; }
    .p-readmore__link::after:hover {
      color: #FCFCFC; }

.p-reason {
  background: #004BB1;
  padding: 75px 20px;
  text-align: center;
  color: #FCFCFC; }
  .p-reason__title {
    color: #FCFCFC;
    font-size: 24px;
    border-bottom: 3px solid #FFFFFF;
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 40px; }
    @media screen and (max-width: 599px) {
      .p-reason__title {
        border: none; } }
  .p-reason__contents {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 980px; }
    .p-reason__contents div:nth-child(even) {
      flex-direction: row-reverse;
      align-self: flex-end; }
    @media screen and (max-width: 880px) {
      .p-reason__contents {
        width: 100%;
        padding: 15px;
        box-sizing: border-box; } }
    @media screen and (max-width: 599px) {
      .p-reason__contents {
        padding: 0; }
        .p-reason__contents div:nth-child(even) {
          flex-direction: inherit; } }
  .p-reason__item {
    padding: 30px;
    background-color: #FFFFFF;
    border-radius: 4px;
    position: relative;
    display: flex;
    align-items: center;
    width: 95%;
    margin-bottom: 80px;
    box-sizing: border-box; }
    .p-reason__item:last-child {
      margin-bottom: 10px; }
    @media screen and (max-width: 599px) {
      .p-reason__item {
        padding: 30px;
        flex-direction: column;
        width: 100%; } }
  .p-reason__description {
    width: 70%; }
    @media screen and (max-width: 599px) {
      .p-reason__description {
        width: 100%; } }
  .p-reason__img-wrapper {
    width: 30%; }
    @media screen and (max-width: 599px) {
      .p-reason__img-wrapper {
        width: 70%;
        margin: 0 auto; } }
  .p-reason__num {
    position: absolute;
    top: -1.2em;
    left: 0;
    font-size: 40px;
    color: #99CAE5;
    font-weight: bold; }
    @media screen and (max-width: 599px) {
      .p-reason__num {
        right: 0; } }
  .p-reason__heading {
    color: #19465B;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: left; }
    @media screen and (max-width: 599px) {
      .p-reason__heading {
        font-size: 20px;
        font-weight: bold; } }
  .p-reason__text {
    color: #3B4043;
    font-size: 16px;
    text-align: left;
    margin-bottom: 20px; }

.p-solution {
  background: #FFFFFF;
  padding: 75px 20px;
  text-align: center; }
  @media screen and (max-width: 599px) {
    .p-solution {
      padding: 75px 10px; } }
  .p-solution__title {
    color: #19465B;
    font-size: 24px;
    border-bottom: 3px solid #5AB4BD;
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 40px; }
    @media screen and (max-width: 599px) {
      .p-solution__title {
        font-size: 20px; } }
  .p-solution__contents {
    display: flex;
    margin: 0 auto;
    width: 980px;
    justify-content: center; }
    @media screen and (max-width: 880px) {
      .p-solution__contents {
        width: 100%; } }
    @media screen and (max-width: 599px) {
      .p-solution__contents {
        flex-direction: column; } }
  .p-solution__item {
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100%/3); }
    @media screen and (max-width: 599px) {
      .p-solution__item {
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin: 15px auto; } }
  .p-solution__description {
    text-align: left;
    display: inline-block; }
    @media screen and (max-width: 599px) {
      .p-solution__description {
        margin-left: 5px; } }
  .p-solution__heading {
    color: #19465B;
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1.7; }
  .p-solution__text {
    color: #3B4043;
    font-size: 16px; }
    @media screen and (max-width: 599px) {
      .p-solution__text {
        margin-bottom: 15px; } }
  .p-solution__img-wrapper {
    width: 120px;
    align-self: center;
    margin: 0 auto;
    display: inline-block; }
    .p-solution__img-wrapper img {
      min-width: 100%;
      max-width: initial;
      object-fit: cover;
      object-position: 50% 50%; }

.p-target__list {
  position: relative;
  text-align: center;
  width: 70%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding: 20px 15px;
  border: solid 2px rgba(28, 145, 218, 0.6);
  border-radius: 8px; }
  @media screen and (max-width: 599px) {
    .p-target__list {
      width: 100%; } }

.p-target__title {
  color: rgba(28, 145, 218, 0.9);
  background: #FFFFFF;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  padding: 0 10px;
  margin-bottom: 15px; }

.p-target__item {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px; }

.p-target__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; }
  @media screen and (max-width: 599px) {
    .p-target__head {
      flex-direction: column;
      align-items: baseline; } }

.p-target__head-left {
  display: flex; }
  @media screen and (max-width: 599px) {
    .p-target__head-left {
      margin-bottom: 10px; } }

.p-target__head-right {
  width: 140px; }
  @media screen and (max-width: 599px) {
    .p-target__head-right {
      align-self: center;
      width: 100%;
      text-align: center; } }

.p-target__avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%; }

.p-target__name {
  margin-left: 15px; }

.p-target__btn {
  width: 140px; }
  @media screen and (max-width: 599px) {
    .p-target__btn {
      width: 90%;
      font-size: 14px; } }

.p-target__body {
  margin-bottom: 10px; }

.p-target__profile {
  color: #707F89;
  margin-bottom: 5px;
  word-wrap: break-word; }

.p-target__follow {
  color: #707F89; }
  @media screen and (max-width: 599px) {
    .p-target__follow {
      font-size: 14px; } }

.p-target__num {
  font-weight: bold;
  color: #3B4043; }

.p-target__aside {
  margin-right: 15px; }
  @media screen and (max-width: 599px) {
    .p-target__aside {
      margin-right: 5px; } }

.p-target__tweet {
  background: #F0F4F7;
  padding: 15px;
  border-radius: 4px; }

.p-target__tweeted-text {
  margin-bottom: 5px;
  word-wrap: break-word; }

.p-target__tweeted-at {
  color: #707F89;
  text-align: right;
  font-size: 12px; }

.p-trend {
  padding-bottom: 30px; }
  .p-trend__head {
    padding-top: 15px;
    padding-bottom: 5px;
    margin: 0 15px;
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 599px) {
      .p-trend__head {
        margin: 0 10px; } }
  .p-trend__item a {
    text-decoration: none; }
    .p-trend__item a:hover {
      text-decoration: underline; }
  .p-trend__select {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #D3D9E0;
    border-radius: 4px; }
    .p-trend__select-text {
      text-align: center;
      color: #707F89;
      font-size: 14px; }
    .p-trend__select-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      @media screen and (max-width: 599px) {
        .p-trend__select-list {
          padding-left: 15px; } }
    .p-trend__select-item {
      flex-grow: 1;
      margin-right: 10px;
      margin-bottom: 10px;
      line-height: 1.0;
      width: calc((100% - (10px * 5)) / 6); }
      .p-trend__select-item:nth-child(6n) {
        margin-right: 0; }
      @media screen and (max-width: 880px) {
        .p-trend__select-item {
          margin-right: 5px; } }
      @media screen and (max-width: 599px) {
        .p-trend__select-item {
          margin-right: 5px;
          width: calc((100% - (5px * 2)) / 3); }
          .p-trend__select-item:nth-child(3n) {
            margin-right: 0; } }
    .p-trend__select-footer {
      text-align: right;
      margin-right: 15px; }
  .p-trend__order {
    text-align: center;
    background: #19465B;
    color: #FCFCFC;
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0; }
    .p-trend__order--gold {
      background: #FFD700;
      color: #FCFCFC; }
    .p-trend__order--silver {
      background: #C0C0C0;
      color: #FCFCFC; }
    .p-trend__order--bronze {
      background: #C47222;
      color: #FCFCFC; }
  .p-trend__name {
    font-weight: bold; }
    .p-trend__name--small {
      font-size: 12px; }

.p-trouble {
  background: #F0F4F7;
  padding: 75px 20px;
  text-align: center; }
  @media screen and (max-width: 599px) {
    .p-trouble {
      padding: 75px 10px; } }
  .p-trouble__title {
    color: #19465B;
    font-size: 24px;
    margin-bottom: 30px; }
    @media screen and (max-width: 599px) {
      .p-trouble__title {
        font-size: 20px; } }
  .p-trouble__contents {
    display: flex;
    margin: 0 auto;
    width: 980px;
    justify-content: center; }
    @media screen and (max-width: 880px) {
      .p-trouble__contents {
        width: 100%; } }
    @media screen and (max-width: 599px) {
      .p-trouble__contents {
        flex-direction: column; } }
  .p-trouble__item {
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100%/3); }
    @media screen and (max-width: 599px) {
      .p-trouble__item {
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin: 0; } }
  .p-trouble__comment {
    padding: 15px;
    background-color: #FFFFFF;
    border-radius: 6px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 15px; }
    .p-trouble__comment:before {
      content: "";
      position: absolute;
      top: 99%;
      left: 50%;
      margin-left: -10px;
      border: 10px solid transparent;
      border-top: 10px solid #FFFFFF; }
    @media screen and (max-width: 599px) {
      .p-trouble__comment {
        width: 220px; }
        .p-trouble__comment:before {
          top: 49%;
          left: 100%;
          margin-left: 0;
          border-top: 10px solid transparent;
          border-left: 10px solid #FFFFFF; } }
  .p-trouble__img-wrapper {
    overflow: hidden;
    width: 120px;
    height: 120px;
    align-self: center;
    margin: 0 auto;
    display: inline-block; }
    .p-trouble__img-wrapper img {
      min-width: 100%;
      max-width: initial;
      object-fit: cover;
      object-position: 50% 50%; }

.p-twitter__login {
  text-align: center; }

.p-twitter__welcome {
  margin-bottom: 15px; }
  .p-twitter__welcome-text {
    position: relative;
    display: inline-block;
    padding: 0 45px; }
    .p-twitter__welcome-text:before, .p-twitter__welcome-text:after {
      content: '';
      position: absolute;
      top: 50%;
      display: inline-block;
      width: 38px;
      height: 2px;
      background-color: #5AB4BD; }
    .p-twitter__welcome-text:before {
      left: 0;
      transform: rotate(60deg); }
    .p-twitter__welcome-text:after {
      right: 0;
      transform: rotate(-60deg); }

.p-twitter-user {
  border: 1px solid #D3D9E0;
  padding: 15px;
  width: 60%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 40px; }
  @media screen and (max-width: 599px) {
    .p-twitter-user {
      width: 100%; } }
  .p-twitter-user__head {
    font-size: 14px;
    margin-bottom: 10px; }
  .p-twitter-user__contents {
    display: inline-block;
    overflow: hidden; }
  .p-twitter-user__body {
    margin-bottom: 10px; }
  .p-twitter-user__bottom {
    margin-bottom: 10px; }
  .p-twitter-user__avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    float: left; }
  .p-twitter-user__account {
    margin-left: 15px;
    text-align: left;
    float: left; }
  .p-twitter-user__name {
    font-weight: bold; }
  .p-twitter-user__screen {
    font-size: 14px; }
  .p-twitter-user__delete {
    font-size: 14px;
    color: #707F89; }
  .p-twitter-user__confirm {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #DC5B34; }
    .p-twitter-user__confirm-text {
      margin-bottom: 15px; }

.p-home__contents {
  width: 90%;
  margin: 10px auto; }
  @media screen and (max-width: 599px) {
    .p-home__contents {
      width: 100%; } }

.p-home__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  border: none; }
  @media screen and (max-width: 599px) {
    .p-home__row {
      flex-direction: column;
      font-size: 14px; } }

.p-home__item {
  margin-right: 30px;
  margin-bottom: 15px;
  flex-grow: 1;
  width: calc((100% - (30px * 2)) / 3); }
  .p-home__item:nth-child(3n) {
    margin-right: 0; }
  @media screen and (max-width: 599px) {
    .p-home__item {
      margin-right: 0;
      margin-bottom: 15px;
      width: 100%; } }

.u-font__num {
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold; }

.u-font__small {
  font-size: 14px; }
  @media screen and (max-width: 599px) {
    .u-font__small {
      font-size: 12px; } }

.u-font__large {
  font-size: 32px;
  margin: 0 4px; }
  @media screen and (max-width: 599px) {
    .u-font__large {
      font-size: 24px; } }

.u-font__muted {
  color: #707F89; }

.u-font__right {
  text-align: right; }

.u-sp--hidden {
  display: block; }
  @media screen and (max-width: 599px) {
    .u-sp--hidden {
      display: none; } }

.u-sp--only {
  display: none; }
  @media screen and (max-width: 599px) {
    .u-sp--only {
      display: block; } }

.u-md--hidden {
  display: block; }
  @media screen and (max-width: 880px) {
    .u-md--hidden {
      display: none; } }

.u-md--only {
  display: none; }
  @media screen and (max-width: 880px) {
    .u-md--only {
      display: block; } }

.u-mb--s {
  margin-bottom: 5px; }

.u-mb--m {
  margin-bottom: 10px; }

.u-mb--l {
  margin-bottom: 15px; }

.u-mb--xl {
  margin-bottom: 20px; }

.u-mb--xxl {
  margin-bottom: 30px; }

.u-mb--xxxl {
  margin-bottom: 40px; }

.u-mt--s {
  margin-top: 5px; }

.u-mt--m {
  margin-top: 10px; }

.u-mt--l {
  margin-top: 15px; }

.u-mt--xl {
  margin-top: 20px; }

.u-mt--xxl {
  margin-top: 30px; }

.u-mt--xxxl {
  margin-top: 40px; }

.u-ml--s {
  margin-left: 5px; }

.u-ml--m {
  margin-left: 10px; }

.u-ml--l {
  margin-left: 15px; }

.u-ml--xl {
  margin-left: 20px; }

.u-ml--xxl {
  margin-left: 30px; }

.u-ml--xxxl {
  margin-left: 40px; }

.u-mr--s {
  margin-right: 5px; }

.u-mr--m {
  margin-right: 10px; }

.u-mr--l {
  margin-right: 15px; }

.u-mr--xl {
  margin-right: 20px; }

.u-mr--xxl {
  margin-right: 30px; }

.u-mr--xxxl {
  margin-right: 40px; }

.u-pb--s {
  padding-bottom: 5px; }

.u-pb--m {
  padding-bottom: 10px; }

.u-pb--l {
  padding-bottom: 15px; }

.u-pb--xl {
  padding-bottom: 20px; }

.u-pb--xxl {
  padding-bottom: 30px; }

.u-pb--xxxl {
  padding-bottom: 40px; }

.u-pt--s {
  padding-top: 5px; }

.u-pt--m {
  padding-top: 10px; }

.u-pt--l {
  padding-top: 15px; }

.u-pt--xl {
  padding-top: 20px; }

.u-pt--xxl {
  padding-top: 30px; }

.u-pt--xxxl {
  padding-top: 40px; }

.u-pl--s {
  padding-left: 5px; }

.u-pl--m {
  padding-left: 10px; }

.u-pl--l {
  padding-left: 15px; }

.u-pl--xl {
  padding-left: 20px; }

.u-pl--xxl {
  padding-left: 30px; }

.u-pl--xxxl {
  padding-left: 40px; }

.u-pr--s {
  padding-right: 5px; }

.u-pr--m {
  padding-right: 10px; }

.u-pr--l {
  padding-right: 15px; }

.u-pr--xl {
  padding-right: 20px; }

.u-pr--xxl {
  padding-right: 30px; }

.u-pr--xxxl {
  padding-right: 40px; }

