@import url(https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap);
.c-pagination[data-v-d7acf176] {
  display: flex;
  list-style-type: none;
}
.c-pagination li[data-v-d7acf176] {
  border: 3px solid #ddd;
  padding: 6px 12px;
  text-align: center;
}
.active[data-v-d7acf176] {
  background: blue;
}
.c-pagination li + li[data-v-d7acf176] {
  border-left: none;
}
.disabled[data-v-d7acf176] {
  cursor: not-allowed;
}

@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

html, body {
  width: 100vw;
  box-sizing: border-box;
  font-family: "Nunito Sans", "Noto Sans JP", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", Meiryo, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.1em;
  text-size-adjust: 100%;
  color: #3B4043;
  background: #FFFFFF; }

p, a {
  -webkit-font-smoothing: antialiased; }

a {
  color: #1D6DD8;
  text-decoration: none;
  transition: .3s; }
  a:hover {
    color: #82A1B0;
    transition: .3s; }

img {
  width: 100%;
  vertical-align: bottom; }

ul {
  list-style-type: none; }

input, button, textarea, select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: inherit;
  font-size: 100%; }

.l-header {
  width: 100%;
  box-sizing: border-box;
  min-height: 60px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  opacity: 0; }
  .l-header.is-fixed {
    opacity: 1;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    transition: all .4s ease 0s, background-color .6s ease .2s;
    -webkit-transition: all .4s ease 0s,background-color .6s ease .2s; }
  @media screen and (max-width: 599px) {
    .l-header {
      height: 60px; } }

#main {
  width: 100%; }

#footer {
  background: #F8FBFE;
  color: #3B4043;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  min-height: 120px;
  position: relative; }
  @media screen and (max-width: 599px) {
    #footer {
      font-size: 12px;
      min-height: 80px; } }
  #footer a {
    color: #1D6DD8; }
  #footer .footer__list {
    color: #1D6DD8;
    font-size: 40px;
    text-align: center; }
  #footer .footer__pagetop {
    position: absolute;
    z-index: 3;
    top: -22px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%); }
  #footer .footer__copyright {
    margin-top: 20px; }
    @media screen and (max-width: 599px) {
      #footer .footer__copyright {
        margin-top: 10px; } }

