@import url(https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap);
@charset "UTF-8";
/* フラッシュメッセージ表示アニメーション */
.pulldown-enter-active[data-v-3448e3ab],
.pulldown-leave-active[data-v-3448e3ab] {
  transition: all 0.3s ease-in-out;
}

/* 表示時 */
.pulldown-enter[data-v-3448e3ab] {
  /* 上からスライドイン */
  opacity: 0;
  transform: translateY(-10px);
}

/* 非表示時 */
.pulldown-leave-to[data-v-3448e3ab] {
  /* 上にスライドアウト */
  opacity: 0;
  transform: translateY(-10px);
}

/* フラッシュメッセージ表示アニメーション */
.popup-enter-active[data-v-3448e3ab],
.popup-leave-active[data-v-3448e3ab] {
  transition: all 0.3s ease-in-out;
}

/* 表示時 */
.popup-enter[data-v-3448e3ab] {
  /* 下からスライドイン */
  opacity: 0;
  transform: translateY(10px);
}

/* 非表示時 */
.popup-leave-to[data-v-3448e3ab] {
  /* 下にスライドアウト */
  opacity: 0;
  transform: translateY(10px);
}

@charset "UTF-8";
/* フラッシュメッセージ表示アニメーション */
.slide-item-enter-active[data-v-4f60403c],
.slide-item-leave-active[data-v-4f60403c] {
  transition: all 0.5s ease-in-out;
}

/* 表示時 */
.slide-item-enter[data-v-4f60403c] {
  /* 右からスライドイン */
  opacity: 0;
  transform: translateX(20px);
}

/* 非表示時 */
.slide-item-leave-to[data-v-4f60403c] {
  /* 右にスライドアウト */
  opacity: 0;
  transform: translateX(20px);
}

@charset "UTF-8";
.loading-enter-active {
  transition: all 0.25s;
}
.loading-leave-active {
  transition: all 0.5s ease 0.5s;
  /* ルータービューが終わった後に */
}

@charset "UTF-8";
/* フラッシュメッセージ表示アニメーション */
.slide-item-enter-active[data-v-3f20c7be],
.slide-item-leave-active[data-v-3f20c7be] {
  transition: all 0.5s ease-in-out;
}

/* 表示時 */
.slide-item-enter[data-v-3f20c7be] {
  /* 右からスライドイン */
  opacity: 0;
  transform: translateX(20px);
}

/* 非表示時 */
.slide-item-leave-to[data-v-3f20c7be] {
  /* 右にスライドアウト */
  opacity: 0;
  transform: translateX(20px);
}

@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

html, body {
  width: 100vw;
  box-sizing: border-box;
  font-family: "Nunito Sans", "Noto Sans JP", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", Meiryo, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.1em;
  text-size-adjust: 100%;
  color: #3B4043;
  background: #FFFFFF; }

p, a, h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased; }

a {
  color: #1D6DD8;
  text-decoration: none;
  transition: .3s; }
  a:hover {
    color: #5AB4BD;
    transition: .3s; }

img {
  width: 100%;
  vertical-align: bottom; }

ul {
  list-style-type: none; }

input, button, textarea, select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "Nunito Sans", "Noto Sans JP", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", Meiryo, sans-serif;
  font-size: 100%; }

html, body {
  height: 100%; }

#app {
  width: 100%;
  background: #F8FBFE;
  position: relative;
  height: auto !important;
  /*IE6対策*/
  height: 100%;
  /*IE6対策*/
  min-height: 100%; }

#header {
  width: 100%;
  box-sizing: border-box;
  min-height: 60px;
  margin: 0;
  padding: 0;
  z-index: 2;
  background: #FFFFFF;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  position: fixed; }
  @media screen and (max-width: 599px) {
    #header {
      height: 60px; } }

#main {
  width: 100%;
  min-height: 100%;
  background: #F8FBFE;
  padding-top: 60px;
  padding-bottom: 70px;
  /*フッターの高さと同じ*/ }

#footer {
  background: #F8FBFE;
  color: #3B4043;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0; }
  @media screen and (max-width: 599px) {
    #footer {
      font-size: 12px;
      min-height: 70px; } }

.c-btn, .c-btn__accent, .c-btn__main, .c-btn__main-outline, .c-btn__twitter, .c-btn__twitter-outline, .c-btn__danger, .c-btn__muted-outline {
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  transition: all .3s;
  padding: 10px 15px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  outline: none;
  border-radius: 100vh;
  font-weight: bold;
  letter-spacing: 0.02em; }
  .c-btn:hover, .c-btn__accent:hover, .c-btn__main:hover, .c-btn__main-outline:hover, .c-btn__twitter:hover, .c-btn__twitter-outline:hover, .c-btn__danger:hover, .c-btn__muted-outline:hover {
    transform: scale(0.97); }

.c-btn__accent {
  background-color: #5AB4BD;
  color: #FCFCFC; }
  .c-btn__accent:hover {
    color: #FCFCFC; }

.c-btn__main {
  background-color: #19465B;
  color: #FCFCFC; }
  .c-btn__main:hover {
    color: #FCFCFC; }

.c-btn__main-outline {
  border: 2px solid #D3D9E0;
  color: #19465B; }
  .c-btn__main-outline:hover {
    color: #19465B; }

.c-btn__twitter {
  background-color: #1C91DA;
  color: #FCFCFC; }
  .c-btn__twitter:hover {
    color: #FCFCFC; }

.c-btn__twitter-outline {
  border: 2px solid #1C91DA;
  color: #1C91DA; }
  .c-btn__twitter-outline:hover {
    color: #1C91DA; }

.c-btn__danger {
  background-color: #bb4926;
  color: #FCFCFC; }
  .c-btn__danger:hover {
    color: #FCFCFC; }

.c-btn__muted-outline {
  border: 1px solid #D3D9E0;
  color: #707F89;
  font-weight: normal;
  font-size: 14px;
  padding: 5px 10px; }
  .c-btn__muted-outline:hover {
    color: #707F89; }

.c-checkbox__icon + label {
  display: block;
  cursor: pointer;
  color: #707F89; }
  .c-checkbox__icon + label::before {
    content: '\f058';
    font-family: FontAwesome;
    color: #D3D9E0;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    margin: -2px 0 0 0;
    box-sizing: border-box; }
  .c-checkbox__icon + label:hover {
    color: #5AB4BD; }
    .c-checkbox__icon + label:hover::before {
      color: #5AB4BD; }

.c-checkbox__icon:checked + label {
  color: #5AB4BD; }
  .c-checkbox__icon:checked + label::before {
    color: #5AB4BD; }

.c-checkbox__label {
  padding: 12px 8px;
  display: flex;
  align-items: center;
  cursor: pointer; }

.c-checkbox__input {
  margin: 0;
  width: 0;
  padding: 0;
  opacity: 0; }

.c-checkbox__input:checked + .c-checkbox__dummyInput {
  background: #5AB4BD; }

.c-checkbox__input:checked + .c-checkbox__dummyInput::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 3px;
  border-radius: 2px;
  transform: translate(-6px, 5px) rotateZ(-135deg);
  transform-origin: 2px 2px;
  background: #FFFFFF; }

.c-checkbox__input:checked + .c-checkbox__dummyInput::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 76%;
  height: 3px;
  border-radius: 2px;
  transform: translate(-6px, 5px) rotateZ(-45deg);
  transform-origin: 2px 2px;
  background: #FFFFFF; }

.c-checkbox__dummyInput {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 24px;
  height: 24px;
  border: solid 2px transparent;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px; }

.c-checkbox__text {
  margin-left: 12px;
  display: block; }

.c-container, .c-container--fluid, .c-container--bg, .c-container--limited {
  width: 100%;
  padding-bottom: 60px; }

.c-container--fluid {
  max-width: 100%; }

.c-container--bg {
  background: #F8FBFE;
  max-width: 100%; }

.c-container--limited {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (max-width: 768px) {
    .c-container--limited {
      width: 100%; } }

.c-container__inner {
  max-width: 980px;
  background: #FFFFFF;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px; }

.c-container__title {
  text-align: center;
  color: #19465B;
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 40px; }
  @media screen and (max-width: 599px) {
    .c-container__title {
      font-size: 20px;
      margin-top: 20px;
      margin-bottom: 20px; } }

.c-error__text {
  margin-left: 10px;
  color: #DC5B34; }

.c-form__wrapper {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #FFFFFF;
  border-radius: 4px; }

.c-form--small {
  width: 60%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box; }
  @media screen and (max-width: 768px) {
    .c-form--small {
      width: 80%; } }
  @media screen and (max-width: 599px) {
    .c-form--small {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px; } }

.c-form__label {
  color: #19465B;
  display: inline-block;
  font-weight: bold; }

.c-form__notes {
  color: #707F89;
  font-size: 14px;
  font-weight: normal;
  margin-left: 10px; }

.c-form__info {
  color: #707F89;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 20px; }

.c-form__group {
  margin-bottom: 30px;
  font-weight: normal; }

.c-form__button {
  text-align: center; }

.c-form__link {
  margin-top: 30px;
  text-align: center;
  color: #707F89;
  font-size: 14px; }

.c-input {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #3B4043;
  font-weight: normal;
  transition: all .3s ease-in;
  box-sizing: border-box;
  outline: none; }
  .c-input--box {
    border: 1px solid #D3D9E0;
    border-radius: 4px;
    background: #FFFFFF; }
    .c-input--box .is-invalid {
      border: 1px solid #bb4926; }
  .c-input--underline {
    border-bottom: 1px solid #D3D9E0;
    border-right: none;
    border-left: none;
    border-top: none;
    background: transparent; }
  .c-input--large {
    padding: 5px 20px;
    height: 48px;
    width: 100%; }
  .c-input__textarea {
    height: 200px;
    border: 1px solid #D3D9E0;
    background: transparent;
    padding: 20px; }
  .c-input:focus {
    border: 2px solid #D3D9E0;
    border-radius: 4px;
    background: #FFFFFF; }

::placeholder {
  color: #707F89; }

.c-loader {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background: rgba(255, 255, 255, 0.5);
  position: fixed; }

.c-loader__icon,
.c-loader__icon:before,
.c-loader__icon:after {
  background: #5AB4BD;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em; }

.c-loader__icon {
  color: #5AB4BD;
  text-indent: -9999em;
  margin: 180px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

.c-loader__icon:before,
.c-loader__icon:after {
  position: absolute;
  top: 0;
  content: ''; }

.c-loader__icon:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.c-loader__icon:after {
  left: 1.5em; }

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em; }
  40% {
    box-shadow: 0 -2em;
    height: 5em; } }

@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em; }
  40% {
    box-shadow: 0 -2em;
    height: 5em; } }

.c-message {
  padding: 10px 15px;
  margin: 5px 10px;
  border-radius: 4px;
  text-align: center;
  position: fixed;
  top: 70px;
  right: 10px;
  z-index: 5; }
  .c-message--success {
    color: #FCFCFC;
    background-color: rgba(90, 180, 189, 0.98); }
  .c-message--danger {
    color: #FCFCFC;
    background-color: rgba(187, 73, 38, 0.98); }
  .c-message--notice {
    color: #FCFCFC;
    background-color: rgba(153, 153, 153, 0.98); }
  .c-message__text {
    display: inline-block;
    padding-right: 15px; }
  .c-message__close {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%); }

.c-pagination {
  text-align: center; }
  .c-pagination__list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px; }
  .c-pagination__item {
    background: rgba(240, 244, 247, 0.8);
    text-align: center;
    padding: 10px 10px; }
    .c-pagination__item a {
      color: #19465B; }
      .c-pagination__item a:hover {
        background: #f0f4f7;
        color: #5AB4BD; }
    .c-pagination__item + .c-pagination__item {
      border-left: none; }
    .c-pagination__item.is-active {
      background: #5AB4BD; }
      .c-pagination__item.is-active a {
        color: #FCFCFC; }
  .c-pagination__info {
    font-size: 14px;
    color: #707F89; }

.c-section {
  max-width: 980px;
  background: #FFFFFF;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px; }
  @media screen and (max-width: 768px) {
    .c-section {
      margin-top: 0; } }
  @media screen and (max-width: 599px) {
    .c-section {
      margin-top: 0;
      padding: 15px; } }
  .c-section--bg {
    background: #F8FBFE; }
  .c-section__title {
    text-align: center;
    color: #19465B;
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 40px;
    position: relative; }
    .c-section__title::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -10px;
      margin: 0 auto;
      width: 20px;
      border-bottom: 1px solid #D3D9E0; }
    @media screen and (max-width: 599px) {
      .c-section__title {
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 20px; } }
  .c-section__text {
    text-align: center;
    line-height: 1.8;
    margin-bottom: 30px; }

.c-tab {
  margin-top: 50px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  width: 700px;
  margin: 0 auto; }
  @media screen and (max-width: 768px) {
    .c-tab {
      width: 100%; } }
  .c-tab__list {
    display: flex; }
  .c-tab__item {
    height: 50px;
    border-bottom: 2px solid #5AB4BD;
    background-color: #F0F4F7;
    text-align: center;
    color: #3B4043;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: all 0.2s ease; }
    .c-tab__item--two {
      width: calc(100%/2); }
    .c-tab__item--three {
      width: calc(100%/3); }
    @media screen and (max-width: 599px) {
      .c-tab__item {
        font-size: 14px; } }
    .c-tab__item:hover {
      background-color: rgba(240, 244, 247, 0.3); }
    .c-tab__item--active {
      background-color: #5AB4BD;
      color: #FCFCFC; }
      .c-tab__item--active:hover {
        background-color: rgba(90, 180, 189, 0.8); }

.c-table {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (max-width: 599px) {
    .c-table {
      width: 100%; } }
  .c-table__thead tr {
    border-bottom: 1px solid #D3D9E0; }
  .c-table__thead th {
    padding: 10px 5px;
    vertical-align: middle;
    font-size: 14px;
    text-align: left; }
    @media screen and (max-width: 599px) {
      .c-table__thead th {
        padding: 10px 2px;
        font-size: 0.6em; } }
  .c-table__tbody tr {
    border-bottom: 1px solid #D3D9E0; }
  .c-table__tbody td {
    padding: 10px 5px; }
    @media screen and (max-width: 599px) {
      .c-table__tbody td {
        font-size: 0.8em; } }

.p-footer__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px; }

.p-footer__item {
  margin: 0 15px; }
  .p-footer__item:first-child {
    margin-left: 5px; }
  .p-footer__item:last-child {
    margin-right: 5px; }

.p-footer__link {
  color: #707F89;
  font-size: 12px; }
  .p-footer__link:hover {
    color: #5AB4BD;
    transform: scale(0.97, 1); }

.p-footer__copyright {
  color: #707F89;
  font-size: 12px; }

.p-footer__pagetop {
  position: absolute;
  z-index: 3;
  top: -22px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%); }

.p-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #F8FBFE;
  padding-left: 15px;
  padding-right: 15px; }
  .p-hero__title {
    font-size: 32px;
    color: #19465B;
    text-align: center;
    margin-bottom: 20px; }
  .p-hero__text-wrap {
    margin-bottom: 20px; }
  .p-hero__text {
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 15px; }
  .p-hero__action {
    width: 100%;
    text-align: center; }
  .p-hero__btn {
    max-width: 300px;
    width: 100%;
    margin: 15px 5px;
    padding-top: 15px;
    padding-bottom: 15px; }

.p-nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1D6DD8; }
  @media screen and (max-width: 599px) {
    .p-nav-menu {
      display: block;
      position: absolute;
      top: 0;
      right: -100%;
      background: rgba(240, 244, 247, 0.95);
      width: 80vw;
      height: 100vh;
      padding-top: 50px;
      transition: all .5s ease-in-out; }
      .p-nav-menu.is-active {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        z-index: 2; } }
  .p-nav-menu__list {
    display: flex;
    align-items: center; }
    @media screen and (max-width: 599px) {
      .p-nav-menu__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border: none;
        margin-left: 20px; } }
  .p-nav-menu__item {
    margin: 0 15px; }
    .p-nav-menu__item:first-child {
      margin-left: 5px; }
    .p-nav-menu__item:last-child {
      margin-right: 5px; }
    @media screen and (max-width: 768px) {
      .p-nav-menu__item {
        font-size: 14px; } }
    @media screen and (max-width: 599px) {
      .p-nav-menu__item {
        margin: 20px 15px; }
        .p-nav-menu__item:first-child {
          margin-left: 15px; }
        .p-nav-menu__item:last-child {
          margin-right: 15px; } }
  .p-nav-menu__item-btn {
    margin: 0 15px; }
  .p-nav-menu__link {
    color: #19465B;
    height: 60px;
    display: flex;
    align-items: center;
    position: relative; }
    .p-nav-menu__link::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
      width: 0;
      transition: width .2s ease-in-out; }
    .p-nav-menu__link:hover {
      color: #5AB4BD;
      transform: scale(0.97, 1); }
    .p-nav-menu__link.is-active {
      color: #247A83; }
      .p-nav-menu__link.is-active::before {
        width: 100%;
        border-bottom: 2px solid #5AB4BD; }
    @media screen and (max-width: 599px) {
      .p-nav-menu__link {
        text-align: center;
        padding: 0;
        height: 40px; }
        .p-nav-menu__link::before {
          margin: 0; } }
  .p-nav-menu__btn {
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px; }
    @media screen and (max-width: 768px) {
      .p-nav-menu__btn {
        font-size: 14px; } }
  .p-nav-menu__dropdown {
    margin-left: 20px;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    transition: all .5s ease-in-out; }
    .p-nav-menu__dropdown:hover {
      background: rgba(240, 244, 247, 0.95); }
    @media screen and (max-width: 768px) {
      .p-nav-menu__dropdown {
        margin-left: 5px;
        padding-left: 5px;
        padding-right: 5px; } }
  .p-nav-menu__avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    vertical-align: baseline;
    margin-right: 5px; }
  .p-nav-menu__username {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    margin-right: 5px;
    max-width: 200px; }
    @media screen and (max-width: 768px) {
      .p-nav-menu__username {
        font-size: 12px; } }
    @media screen and (max-width: 768px) {
      .p-nav-menu__username {
        max-width: 150px; } }
  .p-nav-menu__dropdown-icon {
    display: inline-block; }
  .p-nav-menu__dropdown-menu {
    position: absolute;
    top: 60px;
    background: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    min-width: 200px; }
    @media screen and (max-width: 1024px) {
      .p-nav-menu__dropdown-menu {
        right: 10px; } }
  .p-nav-menu__dropdown-head {
    display: flex;
    align-items: center;
    color: #19465B; }
  .p-nav-menu__dropdown-item {
    padding: 15px 20px; }
    @media screen and (max-width: 768px) {
      .p-nav-menu__dropdown-item {
        font-size: 14px; } }
  .p-nav-menu__dropdown-link {
    color: #19465B; }
    .p-nav-menu__dropdown-link:hover {
      color: #5AB4BD;
      transform: scale(0.97, 1); }
    .p-nav-menu__dropdown-link.is-active {
      color: #247A83; }

.p-navbar {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box; }
  @media screen and (max-width: 768px) {
    .p-navbar {
      padding-left: 5px;
      padding-right: 0; } }
  .p-navbar__title {
    display: inline-block;
    font-family: "Nunito Sans", sans-serif;
    font-size: 24px;
    color: #19465B;
    margin-left: 30px;
    margin-right: 30px; }
    .p-navbar__title a {
      color: #19465B; }
    @media screen and (max-width: 768px) {
      .p-navbar__title {
        margin-left: 5px;
        margin-right: 5px;
        font-size: 16px; } }
    @media screen and (max-width: 599px) {
      .p-navbar__title {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 20px; } }
  .p-navbar__toggle {
    display: none;
    transition: all .4s;
    box-sizing: border-box;
    position: relative;
    top: 0px;
    right: 0px;
    width: 60px;
    height: 60px;
    text-align: center;
    z-index: 5; }
    @media screen and (max-width: 599px) {
      .p-navbar__toggle {
        display: block; } }
    .p-navbar__toggle--line {
      display: inline-block;
      transition: all .4s;
      box-sizing: border-box;
      position: absolute;
      transform: translateX(-50%);
      width: 70%;
      height: 3px;
      background-color: #19465B;
      border-radius: 3px; }
      .p-navbar__toggle--line:nth-of-type(1) {
        top: 10px; }
      .p-navbar__toggle--line:nth-of-type(2) {
        top: 22px; }
      .p-navbar__toggle--line:nth-of-type(3) {
        top: 34px; }
    .p-navbar__toggle--text {
      transition: all .4s;
      font-size: 12px;
      color: #19465B;
      position: absolute;
      transform: translateX(-50%);
      bottom: 0; }
      .p-navbar__toggle--text::after {
        content: 'MENU'; }
    .p-navbar__toggle.is-active span:nth-of-type(1) {
      transform: translate(-50%, 12px) rotate(-45deg);
      -webkit-transform: translate(-50%, 12px) rotate(-45deg); }
    .p-navbar__toggle.is-active span:nth-of-type(2) {
      opacity: 0; }
    .p-navbar__toggle.is-active span:nth-of-type(3) {
      transform: translate(-50%, -12px) rotate(45deg);
      -webkit-transform: translate(-50%, -12px) rotate(45deg); }
    .p-navbar__toggle.is-active span:nth-of-type(4)::after {
      content: 'CLOSE'; }

.p-news {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 60%;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (max-width: 599px) {
    .p-news {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px; } }
  .p-news__item {
    margin-bottom: 15px; }
  .p-news__title {
    margin-bottom: 10px; }
    .p-news__title a {
      text-decoration: none; }
      .p-news__title a:hover {
        text-decoration: underline; }
  .p-news__info {
    display: flex;
    align-items: center;
    margin-bottom: 10px; }
  .p-news__date {
    font-size: 14px;
    padding: 5px 10px;
    background: #F0F4F7;
    border-radius: 4px; }
  .p-news__source {
    font-size: 12px;
    color: #707F89;
    margin-left: 15px; }

.p-target__list {
  position: relative;
  text-align: center;
  width: 70%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding: 20px 15px;
  border: solid 2px rgba(28, 145, 218, 0.6);
  border-radius: 8px; }
  @media screen and (max-width: 599px) {
    .p-target__list {
      width: 100%; } }

.p-target__title {
  color: rgba(28, 145, 218, 0.9);
  background: #FFFFFF;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  padding: 0 10px;
  margin-bottom: 15px; }

.p-target__item {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px; }

.p-target__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; }
  @media screen and (max-width: 599px) {
    .p-target__head {
      flex-direction: column;
      align-items: baseline; } }

.p-target__head-left {
  display: flex; }
  @media screen and (max-width: 599px) {
    .p-target__head-left {
      margin-bottom: 10px; } }

.p-target__head-right {
  width: 140px; }
  @media screen and (max-width: 599px) {
    .p-target__head-right {
      align-self: center;
      width: 100%;
      text-align: center; } }

.p-target__avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%; }

.p-target__name {
  margin-left: 15px; }

.p-target__btn {
  width: 140px; }
  @media screen and (max-width: 599px) {
    .p-target__btn {
      width: 90%;
      font-size: 14px; } }

.p-target__body {
  margin-bottom: 10px; }

.p-target__profile {
  color: #707F89;
  margin-bottom: 5px;
  text-align: justify; }

.p-target__follow {
  color: #707F89; }
  @media screen and (max-width: 599px) {
    .p-target__follow {
      font-size: 14px; } }

.p-target__num {
  font-weight: bold;
  color: #3B4043; }

.p-target__aside {
  margin-right: 15px; }
  @media screen and (max-width: 599px) {
    .p-target__aside {
      margin-right: 5px; } }

.p-target__tweet {
  background: #F0F4F7;
  padding: 15px;
  border-radius: 4px; }

.p-target__tweeted-text {
  margin-bottom: 5px;
  text-align: justify; }

.p-target__tweeted-at {
  color: #707F89;
  text-align: right;
  font-size: 12px; }

.p-trend {
  padding-bottom: 30px; }
  .p-trend__head {
    padding-top: 15px;
    padding-bottom: 5px;
    margin: 0 15px;
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 599px) {
      .p-trend__head {
        margin: 0 10px; } }
  .p-trend__item a {
    text-decoration: none; }
    .p-trend__item a:hover {
      text-decoration: underline; }
  .p-trend__select {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #D3D9E0;
    border-radius: 4px; }
    .p-trend__select-text {
      text-align: center;
      color: #707F89;
      font-size: 14px; }
    .p-trend__select-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      @media screen and (max-width: 599px) {
        .p-trend__select-list {
          padding-left: 15px; } }
    .p-trend__select-item {
      flex-grow: 1;
      margin-right: 10px;
      width: calc((100% - (10px * 5)) / 6); }
      .p-trend__select-item:nth-child(6n) {
        margin-right: 0; }
      @media screen and (max-width: 768px) {
        .p-trend__select-item {
          margin-right: 5px; } }
      @media screen and (max-width: 599px) {
        .p-trend__select-item {
          margin-right: 5px;
          width: calc((100% - (5px * 2)) / 3); }
          .p-trend__select-item:nth-child(3n) {
            margin-right: 0; } }
  .p-trend__order {
    text-align: center; }
  .p-trend__name--text {
    font-weight: bold; }
  .p-trend__name--small {
    font-size: 12px; }

.p-twitter__login {
  text-align: center; }

.p-twitter__welcome {
  margin-bottom: 15px; }
  .p-twitter__welcome-text {
    position: relative;
    display: inline-block;
    padding: 0 45px; }
    .p-twitter__welcome-text:before, .p-twitter__welcome-text:after {
      content: '';
      position: absolute;
      top: 50%;
      display: inline-block;
      width: 38px;
      height: 2px;
      background-color: #5AB4BD; }
    .p-twitter__welcome-text:before {
      left: 0;
      transform: rotate(60deg); }
    .p-twitter__welcome-text:after {
      right: 0;
      transform: rotate(-60deg); }

.p-twitter-user {
  border: 1px solid #D3D9E0;
  padding: 15px;
  width: 60%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 40px; }
  @media screen and (max-width: 599px) {
    .p-twitter-user {
      width: 100%; } }
  .p-twitter-user__title {
    margin-bottom: 10px; }
  .p-twitter-user__head {
    display: inline-block;
    overflow: hidden;
    margin-bottom: 10px; }
  .p-twitter-user__body {
    margin-bottom: 10px; }
  .p-twitter-user__bottom {
    margin-bottom: 10px; }
  .p-twitter-user__avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    float: left; }
  .p-twitter-user__name {
    margin-left: 15px;
    text-align: left;
    float: left; }
  .p-twitter-user__delete {
    font-size: 14px;
    color: #707F89; }

.p-autofollow {
  margin-bottom: 15px; }
  .p-autofollow__guide {
    color: #707F89;
    margin-bottom: 5px; }
  .p-autofollow__guide-text.num {
    font-weight: bold; }
  .p-autofollow__cancel {
    font-size: 14px; }

.u-font__num {
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold; }

.u-font__small {
  font-size: 14px; }
  @media screen and (max-width: 599px) {
    .u-font__small {
      font-size: 12px; } }

.u-font__muted {
  color: #707F89; }

.u-sp--hidden {
  display: block; }
  @media screen and (max-width: 599px) {
    .u-sp--hidden {
      display: none; } }

.u-sp--only {
  display: none; }
  @media screen and (max-width: 599px) {
    .u-sp--only {
      display: block; } }

