#footer {
  background: $bg-color--main;
  color: $font-color--default;
  text-align: center;
  padding-top: $space--xxxl;
  padding-bottom: $space--xl;
  width: 100%;
  height: $footer-height;
  @include mq() {
    font-size: $font-size--s;
    min-height: $footer-height;
  }
}
