#header {
  width: 100%;
  box-sizing: border-box;
  min-height: $header-height;
  margin: 0;
  padding: 0;
  z-index: 2;
  background: $bg-color--white;
  box-shadow: $shadow-color--m;
  position: fixed;
  @include mq() {
    height: $header-height;
  }
}
