#header {
  width: 100%;
  box-sizing: border-box;
  height: $header-height;
  background: $bg-color--white;
  margin: 0;
  padding: 0;
  box-shadow: $shadow-color--m;
  z-index: 2;  
  position: fixed;
}
