.popup {
  // 下からスライドイン
  &-enter-active {
    transition: all 0.3s ease-in-out;
  }
  &-enter {
    opacity: 0;
    transform: translateY(10px);
  }
  // // 下にスライドアウト
  // &-leave-active {
  //   transition: all 0.3s ease-in-out;
  // }
  // &-leave-to {
  //   opacity: 0;
  //   transform: translateY(10px);
  // }
}
