.pulldown {
  &-enter-active,
  &-leave-active {
    transition: all 0.3s ease-in-out;
  }
  // 上からスライドイン
  &-enter {
    opacity: 0;
    transform: translateY(-10px);
  }
  // 上にスライドアウト
  &-leave-to {
    opacity: 0;
    transform: translateY(-10px);
  }
}
