.u-font {
  &__num {
    font-family: $font-family--theme;
    font-weight: bold;
  }
  &--small {
    font-size: $font-size--m;
    @include mq() {
      font-size: $font-size--s;
    }
  }
  &--large {
    font-size: $font-size--xxl;
    margin: 0 4px;
    @include mq() {
      font-size: $font-size--xl;
    }
  }
  &--muted {
    color: $font-color--muted;
  }
  &--right {
    text-align: right;
  }
}
