.u-pb {
  &--s{
    padding-bottom: $space--s;
  }
  &--m{
    padding-bottom: $space--m;
  }
  &--l{
    padding-bottom: $space--l;
  }
  &--xl{
    padding-bottom: $space--xl;
  }
  &--xxl{
    padding-bottom: $space--xxl;
  }
  &--xxxl{
    padding-bottom: $space--xxxl;
  }
}
.u-pt {
  &--s{
    padding-top: $space--s;
  }
  &--m{
    padding-top: $space--m;
  }
  &--l{
    padding-top: $space--l;
  }
  &--xl{
    padding-top: $space--xl;
  }
  &--xxl{
    padding-top: $space--xxl;
  }
  &--xxxl{
    padding-top: $space--xxxl;
  }
}
.u-pl {
  &--s{
    padding-left: $space--s;
  }
  &--m{
    padding-left: $space--m;
  }
  &--l{
    padding-left: $space--l;
  }
  &--xl{
    padding-left: $space--xl;
  }
  &--xxl{
    padding-left: $space--xxl;
  }
  &--xxxl{
    padding-left: $space--xxxl;
  }
}
.u-pr {
  &--s{
    padding-right: $space--s;
  }
  &--m{
    padding-right: $space--m;
  }
  &--l{
    padding-right: $space--l;
  }
  &--xl{
    padding-right: $space--xl;
  }
  &--xxl{
    padding-right: $space--xxl;
  }
  &--xxxl{
    padding-right: $space--xxxl;
  }
}
