.u-sp {
  // 主に改行（brタグ）の表示、非表示に使用
  // br要素の直後に改行を入れて非表示にすると半角スペースが表示されてしまうため
  // 非表示にするbr要素の直後は改行しないこと。
  &--hidden {
  display: block; //通常サイズでは表示
    @include mq() {
      display: none; //スマホサイズでは非表示
    }
  }
  &--only {
    display: none; //通常サイズでは非表示
      @include mq() {
        display: block; //スマホサイズでのみ表示
      }
    }
}
